* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  height: 86px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .headerAnime {
  top: 0;
  position: fixed;
  z-index: 999;
  animation: anime 0.3s forwards;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@keyframes anime {
  from {
    transform: translateY(-100px);
  }
  to {
    transition: 0.3s;
    transform: translateY(0);
  }
}
header .headerUp {
  width: 80%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}
header .headerUp ul {
  width: 465.58px;
  height: 16.8px;
  display: flex;
  align-items: center;
  justify-content: end;
}
header .headerUp ul li {
  margin-left: 30px;
}
header .headerUp ul li a {
  color: #999;
  font-size: 12px;
  line-height: 15px;
}
header .headerUp ul li a:hover {
  color: #666;
  font-size: 12px;
  line-height: 15px;
}
header .headerTop {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .headerTop .headerSearch {
  width: 80%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .headerTop .headerSearch .logo {
  width: 146px;
  height: 100%;
  margin-bottom: -3px;
}
header .headerTop .headerSearch .search {
  width: 598px;
  height: 42px;
  position: relative;
  border: none;
  border-radius: 8px;
  background-color: #f3f3f3;
}
header .headerTop .headerSearch .search input {
  font-size: 14px;
  color: #333;
  background-color: #f3f3f3;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  padding: 10px 40px 10px 15px;
  border: none;
  outline: none;
}
header .headerTop .headerSearch .search i {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  color: #F27A1A;
}
header .headerTop .headerSearch .accountNavigation {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .headerTop .headerSearch .accountNavigation .signIN:hover {
  color: #F27A1A;
}
header .headerTop .headerSearch .accountNavigation .favorites:hover {
  color: #F27A1A;
}
header .headerTop .headerSearch .accountNavigation .basket:hover {
  color: #F27A1A;
}
header .headerTop .headerSearch .accountNavigation .forum {
  width: 68.3px;
  height: 40px;
  display: flex;
  align-items: center;
}
header .headerTop .headerSearch .accountNavigation span {
  font-family: source_sans_prosemibold, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  color: #333333;
  padding-left: 2px;
  margin-top: 2px;
}
header .headerTop .headerSearch .accountNavigation span:hover {
  color: #F27A1A;
}
header .navigation {
  height: 34.8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8e8e8 !important;
  padding: 10px;
}
header .navigation nav {
  width: 80%;
  height: 34px;
}
header .navigation nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
}
header .navigation nav ul li a {
  font-family: source_sans_prosemibold, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-weight: 600;
  font-size: 12px;
  line-height: 34px;
  letter-spacing: 0.18px;
}
header .navigation nav ul li a:hover {
  color: #F27A1A;
}
header .navigation nav ul li a .new {
  font-family: source_sans_proregular, serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  white-space: nowrap;
  padding: 3px;
  box-sizing: border-box;
  color: #fff;
  background: #dc2e2e;
  border-radius: 32px;
  margin-left: 3px;
  height: 16px;
  width: 30px;
  text-transform: initial !important;
  -webkit-font-smoothing: antialiased;
}
header .navigation nav ul li a .new:hover {
  background-color: #F27A1A;
}

.secOne {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.secOne .scOcontent {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secOne .scOcontent .imgs {
  width: 115px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secOne .scOcontent .imgs img {
  border-radius: 50px;
  padding: 5px;
  border: 1px solid #999;
  cursor: pointer;
  transition: 0.5s;
}
.secOne .scOcontent .imgs img:hover {
  border: 1px solid #F27A1A;
}
.secOne .scOcontent .imgs span {
  font-family: "source_sans_prosemibold", sans-serif;
  text-align: center;
  margin-top: 10px;
  color: #141414;
  font-size: 14px;
  display: block;
  transition: all ease 0.2s;
  line-height: 14px;
  height: 42px;
  font-weight: 500;
}
.secOne .scOcontent .imgs span:hover {
  color: #F27A1A;
  cursor: pointer;
}

.secSecond {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secSecond .secIcontent {
  width: 80%;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secSecond .secIcontent .partOne {
  width: 366px;
  height: 57px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.secSecond .secIcontent .partOne img {
  width: 285px;
  height: 42.18px;
}

.secThird {
  display: flex;
  justify-content: center;
  width: 100%;
}
.secThird .secThcontent {
  width: 1200px;
  height: auto;
  background-image: url("https://cdn.dsmcdn.com/homepage/prod/2024-08-05/129eaad2-b201-4ed0-9b3f-903a3aad8c80.png");
  padding: 0px 0px 0px 0px;
  border-radius: 8px;
  border: 0px;
  box-shadow: none;
  background-repeat: no-repeat;
}
.secThird .secThcontent .widgetHead {
  width: 100%;
  padding: 0 20px 16px 20px !important;
}
.secThird .secThcontent .widgetHead .famous {
  padding-top: 5px;
  line-height: 26px;
  font-size: 20px;
  color: #333;
  background: transparent;
  padding-right: 12px;
  font-family: "source_sans_prosemibold", sans-serif;
}
.secThird .secThcontent .widgetHead .sorting {
  margin: 1rem 0;
  border-radius: 50%;
  padding: 5px;
}
.secThird .secThcontent .widgetHead .sorting .sort option {
  border-radius: 50%;
  padding: 2px;
}
.secThird .secThcontent .cardCont {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 25px;
  background-position: center;
  background-size: cover;
}
.secThird .secThcontent .cardCont .widgetProductcards {
  margin-top: 1.7rem;
  width: 212px;
  height: 376px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px #ecebeb solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.secThird .secThcontent .cardCont .widgetProductcards #wishlist {
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 50%;
  border: 1px #c8c7c7 solid;
  padding: 5px;
}
.secThird .secThcontent .cardCont .widgetProductcards #wishlist:hover {
  color: #f27a1a;
}
.secThird .secThcontent .cardCont .widgetProductcards .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 180px;
}
.secThird .secThcontent .cardCont .widgetProductcards .image-container img {
  object-fit: cover;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  width: 75%;
}
.secThird .secThcontent .cardCont .widgetProductcards .alot {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270.43deg, #FFC000 0%, #F27A1A 100%);
  width: 100% !important;
  height: 20px;
  bottom: 0;
}
.secThird .secThcontent .cardCont .widgetProductcards .alot img {
  width: 8px;
  height: 12px;
}
.secThird .secThcontent .cardCont .widgetProductcards .alot .a {
  color: #ffffff;
  margin-left: 5px;
  font-size: 11px;
  font-family: source_sans_proregular, sans-serif;
  font-style: normal;
  font-weight: 600;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  width: auto;
  height: auto;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont .brand {
  display: block;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont .brand .title {
  margin-right: 4px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  font-family: source_sans_proregular, sans-serif;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont .brand .description {
  min-height: 18px;
  max-height: 36px;
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #333;
  font-size: 12px;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont .rating {
  display: flex;
  gap: 4px;
  font-size: 12px;
  margin-top: 10px;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont .rating .star {
  color: #F27A1A;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont .price {
  color: #f27a1a;
  font-weight: 600;
  margin-top: 10px;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont .badges {
  display: flex;
  align-items: center;
  width: 192px;
  gap: 5px;
  height: 34px;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont .badges .coupon {
  display: flex;
  align-items: center;
}
.secThird .secThcontent .cardCont .widgetProductcards .textCont .badges .coupon .titles {
  color: #333333;
  font-size: 11px;
  font-family: source_sans_prosemibold, sans-serif;
  -webkit-font-smoothing: antialiased;
}

footer .foot {
  width: 1519.2px;
  height: 509.6px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
}
footer .foot .container-foot {
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer .foot .container-foot .firstcontFoot {
  width: 1200px;
  height: 509.6px;
  padding: 30px 0;
  justify-content: center;
  gap: 30px;
  display: flex;
}
footer .foot .container-foot .firstcontFoot .listDiv {
  width: 203px;
  height: 233.6px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: source_sans_proregular, sans-serif !important;
}
footer .foot .container-foot .firstcontFoot .listDiv .title {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
}
footer .foot .container-foot .firstcontFoot .listDiv .title:hover {
  color: #F27A1A;
}
footer .foot .container-foot .firstcontFoot .listDiv .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 8px 12px;
  box-sizing: border-box;
  width: 166px;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}
footer .foot .container-foot .firstcontFoot .listDiv .btn:hover {
  border-color: #F27A1A;
}
footer .foot .container-foot .firstcontFoot .listDiv .btn .fa-chevron-right {
  color: #F27A1A;
}
footer .foot .container-foot .firstcontFoot .listDiv .social .sosialLink {
  width: 240px;
  height: 40px;
  display: flex;
  gap: 16px;
  row-gap: 16px;
  column-gap: 16px;
  margin-top: 20px;
}
footer .foot .container-foot .firstcontFoot .listDiv .social .sosialLink img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
footer .foot .container-foot .firstcontFoot .listDiv .social .sosialLink img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0.5px;
}
footer .foot .container-foot .firstcontFoot .menu {
  width: 240px;
  height: 132px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .foot .container-foot .firstcontFoot .menu li a {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
}
footer .foot .container-foot .firstcontFoot .menu li a:hover {
  color: #F27A1A;
}
footer .foot .container-foot .secondcontFoot {
  width: 1200px;
  height: 116px;
  display: flex;
  padding: 30px 0;
}
footer .foot .container-foot .secondcontFoot .listSecurity {
  width: 400px;
  height: 116px;
}
footer .foot .container-foot .secondcontFoot .listSecurity .tit {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
}
footer .foot .container-foot .secondcontFoot .listSecurity .companyLink .imgSize {
  width: 128px;
  height: 36px;
}
footer .foot .container-foot .secondcontFoot .listSecurity .companyLink img {
  width: 56px;
  height: 56px;
  cursor: pointer;
  margin-top: 20px;
}
footer .foot .container-foot .secondcontFoot .listSecurity .companyLink img:hover {
  box-shadow: #141414;
  padding: 2px;
}
footer .footer-legal {
  width: 100%;
  height: 46.8px;
  background-color: #141414;
  display: flex;
  justify-content: center;
}
footer .footer-legal .contfoot {
  width: 1200px;
  height: 46.8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-legal .contfoot .title p {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}
footer .footer-legal .contfoot .menu ul {
  display: flex;
  gap: 20px;
}
footer .footer-legal .contfoot .menu ul li a {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}
footer .footer-legal .contfoot .menu ul li a:hover {
  color: #F27A1A;
}
footer .btnn {
  border-radius: 10px;
  padding: 5px;
  display: flex;
  position: fixed;
  right: 15px;
  bottom: 10px;
  border-color: #c8c7c7;
}
footer .btnn:hover {
  box-shadow: #9b9999;
  color: #F27A1A;
  border-color: #F27A1A;
}
footer .btnn a {
  font-size: 14px;
  gap: 10px;
  color: #141414;
}
footer .btnn a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #F27A1A;
}

@media (max-width: 992) {
  .secSecond .secIcontent {
    width: 74%;
    flex-wrap: wrap;
  }
}